<div style="background-color: #90EE90;"><b>    </b></div>

<h1 align=\"center\"><font color='green'><font size=\"10\">SQLite</font> </h1>

<div style="background-color: #90EE90;">.</div>

##### SQLite is a lightweight, serverless, embedded database management system (DBMS). It's designed to be self-contained, meaning it doesn't require a separate server process to run.

#### Key Features:
 - Embedded: It's integrated directly into applications, making it suitable for small-scale and mobile applications.
 - Serverless: No separate server process is needed, reducing overhead and complexity.
 - Self-contained: The entire database engine is contained within a single file, making it easy to distribute and deploy.
 - No-configuration: SQLite requires minimal setup, making it user-friendly.
 - ACID-compliant: Ensures data integrity through atomicity, consistency, isolation, and durability.

#### Common Use Cases:
 - Mobile applications
 - Desktop applications
 - Embedded systems
 - Web applications (for smaller datasets)

#### Advantages:
 - Simplicity
 - Speed
 - Reliability
 - Portability

#### Disadvantages:
 - Limited scalability for large datasets
 - Lack of advanced features compared to full-fledged database systems

###### Note: While SQLite is a powerful tool, it's important to consider its limitations and choose it wisely based on your specific project requirements. For larger-scale applications, a more robust database system like MySQL, PostgreSQL, or SQL Server might be more suitable.

#### SQLite and Python: A Perfect Match
 - SQLite is a versatile database system that can be easily integrated into Python applications. 
 - This combination offers a powerful and efficient way to manage data within your projects.

#### Key Benefits of Using SQLite with Python:
 - Simplicity: SQLite's lightweight design makes it easy to integrate into Python projects.
 - Efficiency: SQLite is often faster than full-fledged database systems for smaller datasets.
 - Portability: SQLite databases can be easily moved and distributed.
 - Flexibility: SQLite can be used for a wide range of applications, from simple data storage to complex database-driven systems.

In [1]:
#importing necessary libraries
import sqlite3 as sql 
import pandas as pd
import mysql.connector

In [2]:
connect = sql.connect('minishop.db')#creating connection to a created database(saves on this notebook)
cursor = connect.cursor()
#cursor is needed to execute the queries

In [3]:
cursor.execute('Create table mart(Groceries, Price, Qunatity)')
#creating table mart

In [4]:
cursor.execute('Select name From Sqlite_master').fetchone()
#checking if the table was created 
#fetchone is necessary to display the result

('mart',)

In [5]:
cursor.execute("""Insert into mart Values
                  ('Rice',200,7),
                  ('Beans',250,10),
                  ('Pulse',137,25)""")
connect.commit()
#inserting values into the table 
#necessary to commit after inserting to preserve data created

In [7]:
exp = cursor.execute('Select Groceries, price From mart ORDER BY price Asc')
exp.fetchall() 
#sorting in asc order
#Notice fetchone gives single value whil fetchall gives the entire value

[('Pulse', 137), ('Rice', 200), ('Beans', 250)]

In [8]:
expensive = cursor.execute('Select Groceries, price From mart ORDER BY price Desc')
Groceries, price = expensive.fetchone()
print(f"The most expensive grocery is {Groceries!r}, priced at {price}")
#printing most expensive product in the mart

The most expensive grocery is 'Beans', priced at 250

In [9]:
data = [('Toothpaste', 10, 15),
       ('Cooking_Oil',190,14),
       ('water',2,40)]
cursor.executemany('Insert into mart Values(?,?,?)', data)
#here ? is the placeholder of the data to be filled with
connect.commit()

In [10]:
for things in cursor.execute("Select Groceries From mart"):
    print(things)
#printing using for loop

('Rice',)
('Beans',)
('Pulse',)
('Toothpaste',)
('Cooking_Oil',)
('water',)

In [11]:
entire_shop = cursor.execute('Select * From mart').fetchall()
entire_shop

[('Rice', 200, 7),
 ('Beans', 250, 10),
 ('Pulse', 137, 25),
 ('Toothpaste', 10, 15),
 ('Cooking_Oil', 190, 14),
 ('water', 2, 40)]

In [14]:
connect.close()
cursor.close()
#never forget this step as,
#it is an important step for security and maintaining data integrity
# I am getting an error as I have already commited this step

ProgrammingError: Cannot operate on a closed database.

In [12]:
df = pd.DataFrame(entire_shop)
df
#panda allows us to create a dataframe using the sql query for further analysis

             0    1   2
0         Rice  200   7
1        Beans  250  10
2        Pulse  137  25
3   Toothpaste   10  15
4  Cooking_Oil  190  14
5        water    2  40

In [13]:
df.rename(columns={0:'Groceries', 1:'Price',2:'Quantity'})

     Groceries  Price  Quantity
0         Rice    200         7
1        Beans    250        10
2        Pulse    137        25
3   Toothpaste     10        15
4  Cooking_Oil    190        14
5        water      2        40

### Tasks - Execute these queries

In [17]:
new_connect = sql.connect('minishop.db')
new_cursor = new_connect.cursor()

Filtering Data Using WHERE:

    SELECT column1, column2
    FROM tablename
    WHERE column1 = 'some_value';

In [19]:
new_cursor.execute("""Select Groceries, Price From mart 
                   WHERE Groceries = 'Rice' """).fetchall()

[('Rice', 200)]

Sorting Data with ORDER BY:

    SELECT column1, column2
    FROM tablename
    ORDER BY column1 DESC;   -- DESC for descending,ASC for ascending (which is default)

In [21]:
new_cursor.execute(""" Select Groceries, Price From mart Order by Price """).fetchall()

[('water', 2),
 ('Toothpaste', 10),
 ('Pulse', 137),
 ('Cooking_Oil', 190),
 ('Rice', 200),
 ('Beans', 250)]

Limiting Results with LIMIT:

    SELECT column1, column2
    FROM tablename
    LIMIT 10 OFFSET 20;  -- Skips the first 20 records and fetches the next 10.

In [24]:
new_cursor.execute(""" Select Groceries, Qunatity From mart Limit 2 Offset 4""").fetchall()

[('Cooking_Oil', 14), ('water', 40)]

In [25]:
new_cursor.execute(""" Select Groceries, Qunatity From mart Limit 2 """).fetchall()
#trying different scenarios

[('Rice', 7), ('Beans', 10)]

In [27]:
new_cursor.execute(""" Select Groceries, Qunatity From mart Offset """).fetchall()

[('Rice', 7),
 ('Beans', 10),
 ('Pulse', 25),
 ('Toothpaste', 15),
 ('Cooking_Oil', 14),
 ('water', 40)]

Fetching Unique Records with DISTINCT:

    SELECT DISTINCT column1
    FROM tablename;

In [28]:
new_connect.execute('Select Distinct Groceries From mart').fetchall()

[('Rice',),
 ('Beans',),
 ('Pulse',),
 ('Toothpaste',),
 ('Cooking_Oil',),
 ('water',)]

In [ ]:
#connecting to the database in the local host(own laptop workbench)
conn = mysql.connector.connect(
       host = 'localhost',
    username = 'root',
password = '*******',
    database = 'Mart.db',
    auth_plugin='mysql_native_password'
)
#auth_plugin specifies the authentication method used to connect to MySql Sever 
#mysqlnativepassword is most use cases due to its improved security

In [ ]:
query1 = "Select * From Table"
datafr= pd.read_sql(query,conn)
datafr